<h1>Editing moviegoer</h1>

<%= render "form", moviegoer: @moviegoer %>

<br>

<div>
  <%= link_to "Show this moviegoer", @moviegoer %> |
  <%= link_to "Back to moviegoers", moviegoers_path %>
</div>
