<div id="<%= dom_id review %>" style="border: 2px solid black;">
  <p>
    <strong>Title:</strong>
    <%= review.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= review.body %>
  </p>

  <p>
    <strong>Potatoes:</strong>
    <%= review.potatoes %>
  </p>

</div>
